<div (mousedown)="$event.stopPropagation()"
     (dblclick)="$event.stopPropagation()">
  <label class="datetime-picker">
    <span class="mb-0 text-danger"
          *ngIf="formControl.invalid">
      請輸入正確格式({{format}})
    </span>
    <input class="form-control"
           type="text"
           ngbTooltip="點擊開啟選取時間介面"
           placement="top"
           maxlength="19"
           [placeholder]="'輸入格式：' + format"
           [formControl]="formControl"
           [ngStyle]="{borderRadius: borderRadius}"
           (click)="expand($event)">


    <div #tCalendar
         class="datetime-picker__calendar"
         [ngStyle]="{
            top: formControl.valid ? '38px' : '60px',
            right: isStart ? 'unset' : '0',
            left: isStart ? '0' : 'unset'
         }"
         [hidden]="!isExpand">
      <ngb-datepicker class="fadeInAfterDrop"
                      style="border: 1px solid #616279"
                      #tNgbDatepicker
                      [(ngModel)]="ngbDate"
                      (ngModelChange)="pickDatetime()">
      </ngb-datepicker>
      <ngb-timepicker class="mt-2 fadeInAfterDrop"
                      *ngIf="format === MOMENT_YYYYMMDDHHMMSS"
                      [(ngModel)]="ngbTime"
                      (ngModelChange)="pickDatetime()"
                      [seconds]="true"
                      [spinners]="false">
      </ngb-timepicker>
    </div>
  </label>
</div>
